{% load bootstrap3 %} {% load empty_filters %} {% load i18n %} {% load static %} {% block bootstrap3_extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon.ico" />

<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
<!---->
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Merriweather|Oswald" rel="stylesheet">

<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script type="application/javascript">
  var photos = {{ image_urls_dict | to_json }};
  var text_dict = {{ text_dict | to_json }};
  var specificTranslations = {{ specificTranslations | to_json }};
  console.log('photos_dict: ', photos);
  console.log('text_dict: ', text_dict);
  console.log('specificTranslations: ', specificTranslations);
</script>
<script type="text/javascript" language="Javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" language="Javascript" src="{% static request.path|urlforheadtags:'js' %}"></script>
{% endblock %} {% block title %}&nbsp;{% endblock %} {% block bootstrap3_content %}
<header>
  <div class="text">
    <p class="infotext">{% trans 'here are all files and folders, feel free to download a file or open a folder' %}</p>
  </div>
</header>
<div class="display" id="see_the_stuff_in_my_coolbox">
  <div id="items_container"></div>
</div>
<footer>
  <div class="navigation">
    <div class="element stopLeft">
      <button type="button" onclick="jsBtnLink('/logout')">{% trans 'log out' %}</button>
    </div>
      <div class="element centerflex">
        <button type="button" onclick="">{% trans 'one folder up' %}</button>
      </div>
    <div class="element stopRight">
      <button type="button" onclick="jsBtnLink('/bagedit/3')">{% trans 'edit' %}</button>
    </div>
  </div>
</footer>
{% endblock %}
