{% load bootstrap3 %} {% load empty_filters %} {% load i18n %} {% load static %} {% block bootstrap3_extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon.ico" />

<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
<!---->
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Merriweather|Oswald" rel="stylesheet">

<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script type="text/javascript" language="Javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" language="Javascript" src="{% static request.path|urlforheadtags:'js' %}"></script>
{% endblock %} {% block title %}&nbsp;{% endblock %} {% block bootstrap3_content %}
<header>
  <div class="text">
    <p class="infotext">please log in</p>
  </div>
  <hr>
</header>
<form action="/login/" method="post">
  {% csrf_token %}
  <div class="display" id="user_with_login">
    <div class="element"><input type="email" name="email" placeholder="email address" id="un" value=""></div>
    <div class="element"><input type="password" name="password" placeholder="password" id="pw" value=""></div>
    <hr>
    <div>
      <div class="element stopLeft">
        <button type="button" onclick="jsBtnLink('/loginnew')">create new user</button>
      </div>
      <div class="element stopRight">
        <button type="submit" name="submit">log in</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
